<html>
  <body>
    <h2>My tasks</h2>
    <ul>
    <% @tasks.each do |task| %>
      <li><%= task %></li>
    <% end %>
    </ul>
    <h2>Add a task</h2>
    <form action="/" method="POST">
      <input type="text" name="task">
      <button type="submit">Create task</button>
    </form>
  </body>
</html>